SECRET_KEY=django-insecure-dh9qia9mvwv4zk)0gmjvo11xwi+$3$2k_w--_9e$0%o-y1z16z
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=absolute_ayurveda
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000